{% extends 'base1.html' %}
{% load static %}
{% block content %}

     <div id="wrapper" class="admin-panel">

        <!-- menu -->
        <div class="page-menu">
            <!-- btn close on small devices -->
            <span class="btn-menu-close" uk-toggle="target: #wrapper ; cls: mobile-active"></span>
            <!-- traiger btn -->
            <span class="btn-menu-trigger" uk-toggle="target: .page-menu ; cls: menu-large"></span>

            <!-- logo -->
            <div class="logo uk-visible@s">
                <a href="dashboard.html" class="logo">
                            <img src="{% static 'images/VES.png' %}" alt="">

                        </a>

            </div>
            <div class="page-menu-inner" data-simplebar>
                <ul class="mt-0">
                    <li><a href="/tldashboard/"><i class="uil-home-alt"></i> <span> Dashboard</span></a> </li>

                    <li><a href="messages.html"><i class="uil-envelope-alt"></i> <span> Message</span></a> </li>

                </ul>



            </div>
        </div>

        <!-- Header Container
        ================================================== -->
        {% include 'partials/tl_partials/_tl_header.html' %}
            <div class="page-content">
            <div class="page-content-inner">
                <div class="card pr-5">
                    <div class="uk-flex uk-flex-between">
                      <div class="ml-5">
                        <h5 class=" uk-margin-medium-top " >Project Title</h5>
                        <h1>{{data.project_title}}</h1>
                      </div>
                      <div class="">
                      <p class="uk-margin-large-right uk-margin-medium-top ">Project duration</p>
                        <h1>{{data.project_duration}} Months</h1>
                      </div>
                    </div>



                     <!-- <div class="uk-flex "> -->
                    <div class="uk-width-expand ml-5 pr-5 uk-margin-large-right">
                       <h5 class=" uk-margin-medium-top " >Description :</h5>
                       <h5 class="description-box text-justify">{{data.project_description}}
                       </h5>
                    </div>
                    <!-- <div class="uk-margin-large-left">
                    <p >Project docs</p>
                    <button class="btn btn-default mb-3 download-btn" > Download </button>
                    </div> -->
                    <!-- </div> -->
                    <br>

                  <div class="mx-5 text-center ">
                    {% if data.project_docs %}
                      <a class="btn btn-default" href="{{data.project_docs.url}}" download>Download Project Docs</a>
                    {% else %}

                    {% endif %}
                  </div>
                  <br>

                </div>
                 <div class="card">



                    <h5 class="uk-margin-large-left uk-margin-medium-top ">Team List</h5>


                    <br>
                     {% for i in students %}
                    <div class="uk-flex uk-flex-between  uk-flex-wrap uk-flex-wrap-around">
                        <!-- row1 -->
                        <div>
                            <p class="uk-padding-small uk-margin-medium-left">1.</p>
                        </div>
                        <div>
                            <p class="image-size"><img src="" alt=""></p>
                        </div>
                        <div>
                            <p class="uk-padding uk-padding-small">ID : {{i.user_unique}}</p>
                        </div>
                          <div>
                            <p class="uk-padding uk-padding-small">NAME : {{i.user.first_name}} {{i.user.last_name}}</p>
                        </div>
                        <div>
                             <p class="description-box">

                       </p>
                        </div>
                          <div>
                            <a class="btn btn-default mb-3 message-btn text-white uk-margin-medium-right" href="{% url 'tlProjectStudentDetails' i.user_id %}"> Info </a>
                        </div>
                    </div>
                    {% endfor %}

                </div>
          <!-- footer
                ================================================== -->
                {% include 'partials/_footer.html' %}
        </div>
</div>
        <!-- For Night mode -->
        <script>
            (function (window, document, undefined) {
                'use strict';
                if (!('localStorage' in window)) return;
                var nightMode = localStorage.getItem('gmtNightMode');
                if (nightMode) {
                    document.documentElement.className += ' night-mode';
                }
            })(window, document);


            (function (window, document, undefined) {

                'use strict';

                // Feature test
                if (!('localStorage' in window)) return;

                // Get our newly insert toggle
                var nightMode = document.querySelector('#night-mode');
                if (!nightMode) return;

                // When clicked, toggle night mode on or off
                nightMode.addEventListener('click', function (event) {
                    event.preventDefault();
                    document.documentElement.classList.toggle('night-mode');
                    if (document.documentElement.classList.contains('night-mode')) {
                        localStorage.setItem('gmtNightMode', true);
                        return;
                    }
                    localStorage.removeItem('gmtNightMode');
                }, false);

            })(window, document);
        </script>
     </div>

{% endblock %}
