{% extends 'base1.html' %}
{% load static %}{% block title %}Edit course{% endblock %}
{% block content %}

    <div id="wrapper" class="admin-panel">

        <!-- menu -->
        <div class="page-menu">
            <!-- btn close on small devices -->
            <span class="btn-menu-close" uk-toggle="target: #wrapper ; cls: mobile-active"></span>
            <!-- traiger btn -->
            <span class="btn-menu-trigger" uk-toggle="target: .page-menu ; cls: menu-large"></span>

            <!-- logo -->
            <div class="logo uk-visible@s">
                <a href="{% url 'csmDashboard' %}"> <i class=" uil-graduation-hat"></i> <span> Courseplus</span> </a>
            </div>
            <div class="page-menu-inner" data-simplebar>
                <ul class="mt-0">
                  <li><a href="{% url 'csmDashboard' %}"><i class="uil-home-alt"></i> <span> Dashboard</span></a> </li>
                   </li>
                  <li><a href=""><i class="uil-envelope-alt"></i> <span> Message</span></a> </li>
                </ul>



            </div>
        </div>

        <!-- Header Container
        ================================================== -->
        {% include 'partials/csm-tl-project_partials/_csm_header.html' %}

        <!-- content -->
        <div class="page-content">
            <div class="page-content-inner">

                <div class="d-flex">
                    <nav id="breadcrumbs" class="mb-3">
                        <ul>
                            <li><a href="#"> <i class="uil-home-alt"></i> </a></li>
                            <li><a href="{% url 'csmDashboard' %}"> Course </a></li>
                            <li>Edit Course</li>
                        </ul>
                    </nav>
                </div>
                <div class="card">
                    <div class="card-header border-bottom-0 py-4">
                        <h5> Course Manager </h5>
                    </div>
                    <ul class="uk-child-width-expand uk-tab"
                        uk-switcher="connect: #course-edit-tab ; animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
                        <li class="uk-active"><a href="#"> Basic</a></li>
{#                        <li><a href="#"> Curriculum</a></li>#}
                        <li><a href="#">Meta data</a></li>
                        <li><a href="#">Prerequisites</a></li>
                        <li><a href="#">Rewards</a></li>
                        <li><a href="#">Finish Edit</a></li>
                    </ul>
                    <form method="POST"  enctype="multipart/form-data">
                    <div class="card-body">
                        <ul class="uk-switcher uk-margin" id="course-edit-tab">

                            <li>

                                <div class="row">
                                    <div class="col-xl-9 m-auto">
{#             Form                           #}

                                        {% csrf_token %}
                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label" for="course_title">Course title<span
                                                    class="required">*</span></label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="course_title" name="title"
                                                    value="{{ datas.title }}" required="">
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label" for="course_title">Course tagline<span
                                                    class="required">*</span></label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="course_title" name="tagline"
                                                    value="{{ datas.tagline }}" required="">
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label" for="short_description">Short
                                                description</label>
                                            <div class="col-md-9">
                                                <textarea name="description" id="short_description"
                                                    class="form-control" >{{ datas.short_description }}</textarea>
                                            </div>
                                        </div>

                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label" for="short_description">Course Image</label>
                                            <div class="col-md-9">
                                                <input type="file" id="real-file" name="course_image"
                                                 hidden="hidden"/>
                                             <a class="btn btn-default mb-3"  onclick="" id="Upload-button"> <i
                                                class='uil-plus'></i>Upload</a>
                                                <span id="custom-text">No file choosen</span>

                                                <script type="text/javascript">
                                const realFileBtn = document.getElementById("real-file");
                                const CustomBtn = document.getElementById("Upload-button");
                                const customTxt = document.getElementById("custom-text");
                                                CustomBtn.addEventListener ("click", function() {
                                                realFileBtn.click()

                                                });

                                                realFileBtn.addEventListener("change", function() {
                                              if (realFileBtn.value) {
                                                customTxt.innerHTML = realFileBtn.value.match(
                                                  /[\/\\]([\w\d\s\.\-\(\)]+)$/
                                                )[1];
                                              } else {
                                                customTxt.innerHTML = "No file chosen, yet.";
                                              }
                                            });

                                                </script>

                                            </div>
                                        </div>

                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label" for="course_title">Category<span
                                                    class="required">*</span></label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="course_title" name="cate"
                                                    value="{{ datas.category }}" required="">
                                            </div>
                                            <label class="col-md-3 col-form-label">Change Category <span
                                                    class="required">*</span></label>
                                            <div class="col-md-9">
                                                <select class="selectpicker" name="category">
                                                    <option value="IT" data-icon="uil-android-alt"> IT & Software </option>
                                                    <option value="business" data-icon="uil-bag-alt">Business & Startups</option>
                                                    <option value="design" data-icon="uil-palette">Desings</option>
                                                    <option value="ele" data-icon="uil-camera">Electronics & Electrical</option>

                                                </select>

                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label" > Difficulty Level <span
                                                    class="required">*</span></label>
                                            <div class="col-md-9">

                                                <select name="difficulty_level" class="selectpicker">
                                                    <option value="begin"> Beginner </option>
                                                    <option value="inter"> Intermediate </option>
                                                    <option value="adv"> Advanced</option>
                                                </select>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </li>


                            <li>

                                <div class="row justify-content-center">
                                    <div class="col-xl-9">
                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label" for="website_keywords">Meta
                                                keywords</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control bootstrap-tag-input"
                                                    name="meta_keywordss" data-role="tagsinput"
                                                    style="width: 100%; display: none;">
                                                 <!--     <input type="text" class="form-control"
                                                    name="meta_keywords"
                                                    style="width: 100%;"> -->
                                                <div class="bootstrap-tagsinput"><input size="1" type="text"
                                                        value="{{ datas.meta_keywords }}" name="meta_keywords">
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- end col -->
                                    <div class="col-xl-9">
                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label" for="meta_description">Meta
                                                description</label>
                                            <div class="col-md-9">
                                                <input type="text" value="{{ datas.meta_description }}"  name="meta_description" class="form-control" >
                                            </div>
                                        </div>
                                    </div> <!-- end col -->
                                </div>

                            </li>



                           <li>


                                <script type="text/JavaScript">
                                    function createNewElement() {
                            // First create a DIV element.
                            var txtNewInputBox = document.createElement('div');

                            // Then add the content (a new input box) of the element.
                            txtNewInputBox.innerHTML = "<input type='text' class='uk-input' name='requirements'>";

                            // Finally put it where it is supposed to appear.
                            document.getElementById("newElementId").appendChild(txtNewInputBox);

                            }

                            function createNewElement1(){
                            var txtNewInputBox = document.createElement('div');

                            // Then add the content (a new input box) of the element.
                            txtNewInputBox.innerHTML = "<input type='text' class='uk-input' name='learn'>";

                            // Finally put it where it is supposed to appear.
                            document.getElementById("newElementId1").appendChild(txtNewInputBox);
                            }
                        </script>


                                <div class="row justify-content-center">
                                    <div class="col-xl-9">

                                        <a class="btn btn-default mb-3" onclick="createNewElement();"> <i
                                                class='uil-plus'></i> Requirements </a>

                                        <div id="newElementId"> </div>

                                        <input type='text' class='uk-input'
                                            placeholder="Any computer will work: Windows, macOS or Linux" name="requirements">
                                        <input type='text' class='uk-input'
                                            placeholder="Basic programming HTML and CSS."name="requirements">
                                        <input type='text' class='uk-input'
                                            placeholder="Basic/Minimal understanding of JavaScript"name="requirements">
                                    </div>
                                </div>


                                <div class="row justify-content-center">
                                    <div class="col-xl-9">

                                        <a class="btn btn-default mb-3" onclick="createNewElement1();"> <i
                                                class='uil-plus'></i> What you will learn </a>

                                        <div id="newElementId1"> </div>

                                        <input type='text1' class='uk-input1'
                                            placeholder="Any computer will work: Windows, macOS or Linux" name="learn">
                                        <input type='text1' class='uk-input1'
                                            placeholder="Basic programming HTML and CSS." name="learn">
                                        <input type='text1' class='uk-input1'
                                            placeholder="Basic/Minimal understanding of JavaScript" name="learn">
                                    </div>
                                </div>

                            </li>




                            <li>

                                <div class="row justify-content-center">
                                    <div class="col-xl-9">
                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label">Course Points</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" name="course_points" value="{{ datas.course_points }}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-9">

                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label">Certificate</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" value="{{ datas.certificate }}" name="certificate">
                                                <small class="text-muted"><span
                                                        class="text-danger"></span> </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </li>



                            <li>
                                <div class="row">
                                    <div class="col-12 my-lg-5">
                                        <div class="text-center">
                                            <h2 class="mt-0"><i class="icon-feather-check-circle text-success"></i></h2>
                                            <h3 class="mt-0">Done !</h3>

                                            <p class="w-75 mb-2 mx-auto"> Submit This Course For Reweiw  </p>

                                            <div class="mb-3 mt-3">
                                                <input type="submit" class="btn btn-default" name="course_submit">
                                            </div>
                                        </div>
                                    </div> <!-- end col -->
                                </div>
                            </li>
                        </ul>
                    </div>
                    </form>

                    </div>     <!--End Of card body -->
                </div>         <!--End Of card -->




                <!-- footer
                ================================================== -->
                {% include 'partials/_footer.html' %}



<!-- add lessson div clone hidden element hari -->
<div style="display:none" class="clone_lesson_div">
<ul class="c-curriculum" uk-accordion >

	<li class="uk-open" id="lesson-module">

		<a class="uk-accordion-title" href="#"> <i class="uil-folder"></i>
			<span id="editLesson" contenteditable="True">Lesson title</span></a>

		<div class="action-btn">
			<a href="#" class="add_topic_btn"> <i class="uil-plus">  </i> Add Topic </a>

			<a href="#" class="close-lesson"><i class="icon-feather-x"></i></a>
		</div>
		<div class="uk-accordion-content" >
			<ul class="sec-list" uk-sortable="handle: .uk-sortable-handle">
				<li>
					<div class="sec-list-item" >
						<div  class="uk-width-expand"> <i class="uil-list-ul uk-sortable-handle"></i>
							<label class="mb-0 mx-2">
								<input class="uk-checkbox" type="checkbox">
							</label>
							<input type="text" class=" uk-input my-auto uk-width-expand " type="text" style="border:none;" name="topic" placeholder="Topic">
						</div>
						<div>
              <div class="btn-act">
                <div class="aaa">
                  <label for="file-input">
                 <i class="uil-cloud-download"/></i></label>
                  <input type="file" id="file-input" style="display:none;"/>
                </div>
                  <a href="#" class="close-topic"><i class="icon-feather-x"></i></a>
              </div>
						</div>
					</div>
				</li>


			</ul>
		</div>
	</li>
</ul>
</div>

<div style="display:none" class="clone_topic_div">
		<li>
			<div class="sec-list-item" id="topic-module">
				<div  class="uk-width-expand"> <i class="uil-list-ul uk-sortable-handle"></i>
					<label class="mb-0 mx-2">
						<input class="uk-checkbox" type="checkbox">
					</label>
					  <input class=" uk-input my-auto uk-width-expand " type="text" style="border:none;" name="topic" placeholder="Topic">
				</div>
				<div>
          <div class="btn-act">
            <div class="aaa">
              <label for="file-input">
             <i class="uil-cloud-download"/></i></label>
              <input type="file" id="file-input" style="display:none;"/>
            </div>
              <a href="#" class="close-topic"><i class="icon-feather-x"></i></a>
          </div>
				</div>
			</div>
		</li>

</div>
<!-- add lessson div clone hidden element hari-->


        <!-- For Night mode -->
        <script>
            (function (window, document, undefined) {
                'use strict';
                if (!('localStorage' in window)) return;
                var nightMode = localStorage.getItem('gmtNightMode');
                if (nightMode) {
                    document.documentElement.className += ' night-mode';
                }
            })(window, document);


            (function (window, document, undefined) {

                'use strict';

                // Feature test
                if (!('localStorage' in window)) return;

                // Get our newly insert toggle
                var nightMode = document.querySelector('#night-mode');
                if (!nightMode) return;

                // When clicked, toggle night mode on or off
                nightMode.addEventListener('click', function (event) {
                    event.preventDefault();
                    document.documentElement.classList.toggle('night-mode');
                    if (document.documentElement.classList.contains('night-mode')) {
                        localStorage.setItem('gmtNightMode', true);
                        return;
                    }
                    localStorage.removeItem('gmtNightMode');
                }, false);

            })(window, document);
        </script>

            </div>
        </div>
</div>


{% endblock %}