{% extends 'base1.html' %}
{% load static %}
{% block title %}
Create Course
{% endblock %}
{% block content %}

    <div id="wrapper" class="admin-panel">

        <!-- menu -->
        <div class="page-menu">
            <!-- btn close on small devices -->
            <span class="btn-menu-close" uk-toggle="target: #wrapper ; cls: mobile-active"></span>
            <!-- traiger btn -->
            <span class="btn-menu-trigger" uk-toggle="target: .page-menu ; cls: menu-large"></span>

            <!-- logo -->
            <div class="logo uk-visible@s">
                <a href="{% url 'csmDashboard' %}" class="logo">
                            <img src="{% static 'images/VES.png' %}" alt="">

                        </a>

            </div>
            <div class="page-menu-inner" data-simplebar>
                <ul class="mt-0">
                    <li><a href="{% url 'csmDashboard' %}"><i class="uil-home-alt"></i> <span> Dashboard</span></a> </li>
                    <li><a href="{% url 'csmAddCourse' %}"><i class="uil-youtube-alt"></i> <span>Add Course</span></a> </li>
                    <li><a href="#"><i class="uil-envelope-alt"></i> <span> Message</span></a> </li>

                </ul>



            </div>
        </div>

        <!-- Header Container
        ================================================== -->
        {% include 'partials/csm-tl-project_partials/_csm_header.html' %}

        <!-- content -->
        <div class="page-content">
            <div class="page-content-inner">

                <div class="d-flex">
                    <nav id="breadcrumbs" class="mb-3">
                        <ul>
                            <li><a href="#"> <i class="uil-home-alt"></i> </a></li>
                            <li><a href="#"> Create Course </a></li>
                        </ul>
                    </nav>
                </div>





                <div class="uk-grid">





                  <div class="uk-width-3-5@m" style="width: 100%">
                    <div class="uk-width-expand mb-5 mt-3">
                        <div class="card rounded">

                          <legend class="uk-legend mt-4 text-center">Choose Career Category </legend>

                          <div class=" container py-3 px-5 uk-width-expand">

                                    <form name="course-cag" method="POST">
                                      {% csrf_token %}
                                      <div class="form-group row mb-3">
                                          <label class="col-md-3 col-form-label"> Category <span
                                                  class="required">*</span></label>
                                          <div class="col-md-9">
                                              <select  name="category" required onchange="submit()">
                                                <option selected disabled>Choose Category</option>
                                                {% for i in cag_data %}
                                                  {% if i.category == obj.create_category %}
                                                  <option value="{{i.category}}" selected> {{i.category}} </option>
                                                  {% else %}
                                                  <option value="{{i.category}}"> {{i.category}} </option>
                                                  {% endif %}
                                                {% endfor %}
                                              </select>

                                          </div>

                                      </div>
                                    </form>
                            </div>

                        </div>

                        </div>
                    </div>



                    <div class="uk-width-3-5@m" style="width: 100%">
                      <div class="uk-width-expand mb-5">
                          <div class="card rounded">

                            <legend class="uk-legend mt-4 text-center">Choose Career Role </legend>

                            <div class=" container py-3 px-5 uk-width-expand">

                                        <form name="cfp-role" method="POST">
                                          {% csrf_token %}
                                          <fieldset class="uk-fieldset">
                                          <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label"> Selected Category <span
                                                    class="required">*</span></label>
                                              <div class="col-md-9">
                                                  <input type="text" name="c_course" value="{{obj.create_category}}" readonly required>
                                              </div>

                                          </div>

                                          <!-- <h5>List of Available Career Roles:</h5>
                                          <div class="uk-margin  uk-grid">
                                            {% for i in role_list %}
                                                     <label><input class="uk-checkbox py-1 px-3 mx-2" type="checkbox" name="roles[]" value="{{i.cfp_role}}">{{i.cfp_role}}</label>
                                            {%endfor%}
                                           </div> -->

                                           <!-- <div class="form-group row mb-3">
                                               <label class="col-md-3 col-form-label">Available CFP Roles<span
                                                       class="required">*</span></label>
                                               <div class="col-md-9" style="width:50%;">
                                                 <div class="uk-width-1-2" >


                                                 <input class="uk-button btn-white uk-width-expand mx-2" style="border:1px solid #3e416d;"vtype="button"  value="Choose From Here">
                                                 <div uk-dropdown="pos: bottom-left" class="uk-width-1-2">
                                                   {% for i in role_list %}
                                                     <ul class="uk-nav uk-dropdown-nav uk-width-expand">
                                                         <li class="uk-width-expand" ><input class="" name="roles" style="height:15px; width:15px;" id="item{{ forloop.counter }}"  value="{{ i.cfp_role }}" type="checkbox"/>
                                                           &nbsp;<span class="ml-3">{{i.cfp_role}}</span>
                                                         </li>

                                                       </ul>

                                                   {% endfor %}
                                                  </div>
                                                 </div>
                                               </div>
                                           </div> -->

                                           <div class="form-group row mb-3">
                                               <label class="col-md-3 col-form-label"> CFP Roles <span
                                                       class="required">*</span></label>
                                               <div class="col-md-9">
                                                   <select  name="role" required onchange="submit()">
                                                     <option selected disabled>Choose CFP Role</option>
                                                     {% for i in role_list %}
                                                       {% if i.cfp_role == obj.create_role %}
                                                       <option value="{{i.cfp_role}}" selected> {{i.cfp_role}} </option>
                                                       {% else %}
                                                       <option value="{{i.cfp_role}}"> {{i.cfp_role}} </option>
                                                       {% endif %}
                                                     {% endfor %}
                                                   </select>

                                               </div>
                                           </div>


                                           </fieldset>
                                        </form>


                                </div>
                              </div>
                          </div>
                      </div>




                  <div class="uk-width-3-5@m" style="width: 100%" >
                    <div class="uk-width-expand ">
                      {% include 'partials/_alerts.html' %}
                        <div class="card rounded">

                          <legend class="uk-legend mt-4 text-center">Create CFP Course</legend>

                            <div class=" container py-3 px-5 uk-width-expand">
                                    <form name="cfp-course" method="POST">
                                        {% csrf_token %}
                                      <div class="form-group row mb-3">
                                          <label class="col-md-3 col-form-label">Chosen Category</label>
                                          <div class="col-md-9">
                                              <input type="text" name="confirm_cag"  value="{{obj.create_category}}" readonly required>
                                          </div>

                                      </div>

                                      <div class="form-group row mb-3">
                                          <label class="col-md-3 col-form-label">Chosen Role</label>
                                          <div class="col-md-9">
                                              <input type="text" name="confirm_role" value="{{obj.create_role}}" readonly >
                                          </div>

                                      </div>




                                      <div class="form-group row mb-3">
                                          <label class="col-md-3 col-form-label"> CFP Course <span
                                                  class="required">*</span></label>
                                          <div class="col-md-9">
                                              <select  name="confirm_course" id="selectbox1" required>
                                                <option selected disabled>Select Course Tags</option>
                                                {% for i in course_list %}
                                                  <option value="{{i}}">{{i}}</option>
                                                {% endfor %}
                                              </select>
                                          </div>
                                      </div>

                                      <h6>Note:</h6>
                                      <ul class="">
                                        <li><p>Kindly check all the selected data carefully</p></li>
                                        <li><p>Once the Course is created then the category, role and course data cannot be changed</p></li>
                                        <li><p>Other than the above mentioned fields, all other fields are editable</p></li>
                                      </ul>


                                      <div class="uk-text-center my-4">
                                        <button class="btn btn-default" name="course-submit">Start Creating Course</button>
                                      </div>
                                    </form>
                            </div>
                        </div>
                    </div>
                  </div>




            </div>


                <!-- footer
                ================================================== -->
                {% include 'partials/_footer.html' %}

            </div>

        </div>

        <!-- For Night mode -->
        <script>
            (function (window, document, undefined) {
                'use strict';
                if (!('localStorage' in window)) return;
                var nightMode = localStorage.getItem('gmtNightMode');
                if (nightMode) {
                    document.documentElement.className += ' night-mode';
                }
            })(window, document);


            (function (window, document, undefined) {

                'use strict';

                // Feature test
                if (!('localStorage' in window)) return;

                // Get our newly insert toggle
                var nightMode = document.querySelector('#night-mode');
                if (!nightMode) return;

                // When clicked, toggle night mode on or off
                nightMode.addEventListener('click', function (event) {
                    event.preventDefault();
                    document.documentElement.classList.toggle('night-mode');
                    if (document.documentElement.classList.contains('night-mode')) {
                        localStorage.setItem('gmtNightMode', true);
                        return;
                    }
                    localStorage.removeItem('gmtNightMode');
                }, false);

            })(window, document);

            </script>
    </div>

{% endblock %}
