{% load static %}
{#Base file#}
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">


    <title>Virtual Employee |{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="VE - Turn students into industrial experts ">
    {% block extrahead %}
    {% endblock %}
    <link href="{% static 'images/favicon.ico' %}" rel="icon" type="img/ico">
    <!-- CSS ================================================== -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/night-mode.css' %}">
    <link rel="stylesheet" href="{% static 'css/framework.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/button-style.css' %}">
    <!-- icons
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/icons.css' %}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Bowlby+One" />

	 <!-- video js new code -->

   <link rel = "stylesheet" href ="{% static 'css/video-js.min.css' %}">
<script src="{% static 'js/video.js' %}"></script>
<script src="{% static 'js/Youtube.js' %}"></script>


<script src ="{% static 'js/courses.js' %}"></script>


</head>
<body>
<!-- Body -->

{% block content %}


{% endblock %}


<script src="{% static 'js/framework.js' %}"></script>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/simplebar.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>




</body>
</html>