{% load static %}
{#Bas file#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Courseplus - Professional Learning Management HTML Template">
    <link href="{% static 'images/favicon.png' %}" rel="icon" type="image/png">
    <!-- CSS ================================================== -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/night-mode.css' %}">
    <link rel="stylesheet" href="{% static 'css/framework.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- icons
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/icons.css' %}">

</head>
<body>
<!-- Body -->

{% block content %}


{% endblock %}


<script src="{% static 'js/framework.js' %}"></script>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/simplebar.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>

</body>
</html>