{% extends 'base1.html' %}
{% load static %}
{% block content %}
<style>


.annual{
  background: #071829;
  color: #3bb4bc;
  width:120px;
  border:1px solid #3bb4bc;
  width:150px;
}

.annual:hover{
  background: #071829;
  color: #3bb4bc;
  width:120px;
  border:1px solid #3bb4bc;
  width:150px;
}

a.active{
  background: white;
  color: yellow;
  width:150px;
  border:1px solid #3bb4bc;

}

.emi{
  background: white;
  color:#071829;
  width:120px;
}

.emi:hover{
  background: #071829;
  color: white;
  width:120px;
  border:1px solid #3bb4bc;
  width:150px;
}




.referral{
  border-color: black;
}

.referral:focus {
  border-color: green;
}



</style>

</head>

<body>


<div class="uk-container py-2">
  <div class="uk-width-4-5 mx-auto my-5 py-3 uk-card rounded" style="background:#071829;">

        <ul class="uk-subnav pricing-swicher mt-2 mb-4"
            uk-switcher="connect: #change-plan ;animation: uk-animation-slide-top-medium, uk-animation-scale-up">
            <li ><a  class="btn btn-default my-auto  mx-1 annual active py-2"  name="button">Annual Plan</a></li>
            <li ><a type="button" class="btn btn-default my-auto  mx-1 emi active py-2"  name="button">EMI Plan</a></li>
        </ul>

        <style>

        </style>



    <div class="uk-container my-1">
      <ul class="uk-switcher" id="change-plan">
        <li>
      <div class="uk-width-4-5 mx-auto uk-card rounded" style="background:white;">

        <div class="mx-5 py-3 mb-5">
          <form class="" name="annual" method="POST">
             <h4 class="text-dark "><strong>Subscription Area</strong> </h4>

             <div class=" my-3">
               <div class="px-3 py-2 rounded" style="border:1px solid black;">
                 <div class="uk-grid">

                   <div class="uk-width-1-2@m">
                     <div class="uk-margin py-1 mx-2 ">
                          <label class="mb-0" for="form-stacked-select"><strong>Select Years</strong> </label>
                          <div class="uk-form-controls">
                              <select class="uk-select" id="form-stacked-select" style="width:150px;">

                                  <option>2 Year</option>
                              </select>
                          </div>
                      </div>
                   </div>

                   <div class="uk-width-1-2@s my-3 text-center">
                     <span><strong>Base Price: &nbsp;</strong></span> <span class="display-5"><strong>&#8377; 15254/-</strong></span>
                   </div>


                 </div>

               </div>
             </div>

             <div class="">
               <div class="rounded px-3 py-2" style="border:1px solid black;">
                 <div class="uk-grid">


                   <div class="uk-width-1-2@m">
                       {% include 'partials/_alerts.html' %}
                       <form  id="submit-form" >{% csrf_token %}
                     <div class="uk-margin py-1 mx-2 ">
                       <label class="" for="form-horizontal-text"><strong> Enter Referral Code</strong></label>
                       <div class="uk-form-controls">
                           <input class="uk-input uk-form-small referral" style="border-color: #8bb6cb;" id="form-horizontal-text" type="text" name="reference" placeholder="Code Here">
                           <input type="submit" class="btn btn-default px-5" id="bb" name="ref" style="margin-left: 10px" value="submit">
                       </div>
                      </div>
                       </form>
                   </div>
                     {% if base_amt %}

                   <div class="uk-width-1-2@s my-3 text-center">
                     <span><strong>-10% OFF: &nbsp;</strong></span> <span class="display-5"><strong>&#8377; {{ base_amt }}/-</strong></span>
                   </div>
                    {% else %}
                     {% endif %}
                 </div>

               </div>
             </div>

             <div class="uk-grid my-2 py-4">
                 {% if total_amt %}

               <div class="uk-width-1-2@m">
                 <h5 class="text-dark mt-4 mx-3"><strong> TOTAL PRICE:</strong></h5>
               </div>
               <div class="uk-width-expand text-center">
                  <p class="mb-0"><strong> *Inclusive of all taxes (GST)</strong></p>
                  <span class="display-5"><strong>&#8377; {{ total_amt }}/-</strong></span>
               </div>
                 {% else %}
                {% endif %}

             </div>

             <div class="text-right">
               <button type="button" class="btn btn-default px-5" id="bb" name="button">Checkout</button>

             </div>

          </form>
        </div>


     </div>

   </li>


       <li>
         <form class="" name="emi" method="POST">

     <div class="uk-width-4-5 mx-auto uk-card rounded" style="background:white;">
       <div class="mx-5 py-3 mb-5">

            <h4 class="text-dark "><strong>Subscription Area</strong> </h4>

            <div class=" my-3">
              <div class="px-3 py-2 rounded" style="border:1px solid black;">
                <div class="uk-grid">

                  <div class="uk-width-1-2@m">
                    <div class="uk-margin py-1 mx-2 ">
                         <label class="mb-0" for="form-stacked-select"><strong>Select Years</strong> </label>
                         <div class="uk-form-controls">
                             <select class="uk-select" id="form-stacked-select" style="width:150px;">
                                 <option>1 Year</option>
                                 <option>2 Year</option>
                             </select>
                         </div>
                     </div>
                  </div>

                  <div class="uk-width-1-2@s my-3 text-center">
                    <span><strong>Base Price: &nbsp;</strong></span> <span class="display-5"><strong>&#8377; 15,300/-</strong></span>
                  </div>


                </div>

              </div>
            </div>

            <div class="">
              <div class="rounded px-3 py-2" style="border:1px solid black;">
                <div class="uk-grid">


                  <div class="uk-width-1-2@m">
                    <div class="uk-margin py-1 mx-2 ">
                      <label class="" for="form-horizontal-text"><strong> Enter Referral Code</strong></label>
                      <div class="uk-form-controls">
                          <input class="uk-input uk-form-small referral" style="border-color: #8bb6cb;" id="form-horizontal-text" type="text" placeholder="Code Here">
                      </div>
                     </div>
                  </div>




                  <div class="uk-width-1-2@s my-3 text-center">
                    <span><strong>-10% OFF: &nbsp;</strong></span> <span class="display-5"><strong>&#8377; 13,700/-</strong></span>
                  </div>

                </div>

              </div>
            </div>

            <div class="uk-grid my-2 py-4">

              <div class="uk-width-1-2@m">
                <h5 class="text-dark mt-4 mx-3"><strong> TOTAL PRICE:</strong></h5>
              </div>
              <div class="uk-width-expand text-center">
                 <p class="mb-0"><strong> *Inclusive of all taxes (GST)</strong></p>
                 <span class="display-5"><strong>&#8377; 16,250/-</strong></span>
              </div>
            </div>
       </div>
    </div>



    <div class="uk-width-4-5 mx-auto uk-card rounded">

      <div class="uk-flex ml-2 ">
        <div class="uk-card rounded px-4 uk-width-1-2@s px-0 mr-3 mb-3 mt-0 text-center "  style="background:white;">
          <div class="uk-card-header  rounded" style="background:#f3aa4e;">
                <h4 class=" uk-margin-remove-bottom text-center text-dark"><strong>3 Months Plan</strong></h4>
          </div>

          <div class="uk-container mx-4 my-4 py-2 rounded" style="border:1px solid black;">
            <p class="my-0"><strong>Pay Now:</strong></p>
            <h4 class="display-5 text-center text-dark"><strong>&#8377; 5900</strong></h4>
          </div>

          <div class="uk-container m-4 pb-3 pt-2 rounded" style="border:1px solid black;">
            <p class="my-0"><strong>Monthly:</strong> </p>
              <strong>
            <div class="uk-grid my-2">
              <div class="uk-width-1-2@m">
                <p>1st Month : </p>
              </div>
              <div class="uk-width-1-2@m">
                <p>&#8377; 3450</p>
              </div>
            </div>

            <div class="uk-grid my-2">
              <div class="uk-width-1-2@m">
                <p>2nd Month : </p>
              </div>
              <div class="uk-width-1-2@m">
                <p>&#8377; 3450</p>
              </div>
            </div>

            <div class="uk-grid my-2 mb-3">
              <div class="uk-width-1-2@m">
                <p>3rd Month : </p>
              </div>
              <div class="uk-width-1-2@m">
                <p>&#8377; 3450</p>
              </div>
            </div>
            </strong>
          </div>

          <div class="my-3">
            <button type="button" class="btn btn-default" id="bb" name="button">Proceed</button>
          </div>


        </div>



        <div class="uk-card rounded px-4 uk-width-1-2@s px-0 text-center mb-3 mt-0"  style="background:white;">
          <div class="uk-card-header rounded " style="background:#f3aa4e;">
              <h4 class=" uk-margin-remove-bottom text-center text-dark rounded"><strong>5 Months Plan</strong></h4>
          </div>

          <div class="uk-container m-4 py-2 rounded" style="border:1px solid black;">
            <p class="my-0"><strong>Pay Now:</strong> </p>
            <h4 class="display-5 text-center text-dark"><strong>&#8377; 5900</strong></h4>
          </div>

          <div class="uk-container mx-4 my-4 pb-3 pt-2  text-center rounded" style="border:1px solid black;">
            <p class="my-0"><strong>Monthly:</strong> </p>
            <strong>
            <div class="uk-grid my-0">
              <div class="uk-width-1-2@m">
                <p>1st Month :</p>
              </div>
              <div class="uk-width-1-2@m">
                <p>&#8377; 2070</p>
              </div>
            </div>

            <div class="uk-grid my-0">
              <div class="uk-width-1-2@m ">
                <p>2nd Month :</p>
              </div>
              <div class="uk-width-1-2@m ">
                <p>&#8377; 2070</p>
              </div>
            </div>

            <div class="uk-grid my-0">
              <div class="uk-width-1-2@m">
                <p>3rd Month :</p>
              </div>
              <div class="uk-width-1-2@m">
                <p>&#8377; 2070</p>
              </div>
            </div>

            <div class="uk-grid my-0">
              <div class="uk-width-1-2@m">
                <p>4th Month :</p>
              </div>
              <div class="uk-width-1-2@m">
                <p>&#8377; 2070</p>
              </div>
            </div>

            <div class="uk-grid my-0">
              <div class="uk-width-1-2@m">
                <p>5th Month :</p>
              </div>
              <div class="uk-width-1-2@m">
                <p>&#8377; 2070</p>
              </div>
            </div>
            </strong>
          </div>

          <div class=" my-3">
            <button type="button" class="btn btn-default text-center" id="bb" name="button">Proceed</button>
          </div>

        </div>

      </div>
    </div>

    </form>

    </li>
 </ul>


    </div>
  </div>
</div>



{% endblock %}
