{% extends 'base1.html' %}{% load static %}{% block title %}Login{% endblock %}

{% block content %}

<style>

  html, body {

    font-family : 'impact';
    overflow-x:hidden;
  }


.div1{
  background: #edeff0;
}

.div2{
  background: rgb(7,24,41);

}


.img-arrow1:hover{
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.1);
   transition: 1s ease;

}


.img-arrow2:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.1);
  transition: 1s ease;

}



.img-idea{
  margin-top: -50px;
  height:480px;
}


.img-ve{
  margin-top:180px;
  margin-left:-227px;
  position:relative;
}



@media only screen and (max-width: 500px) {

  .head1{
    margin-left:40px;
    font-size:50px;
  }



  /* .img-arrow1{
    height: 80px;
    margin-top:15px;
    margin-left:1px;
    position:absolute;

  }
  .img-arrow2{
    height: 100px;
    margin-top:70px;
    margin-left:-100px;
    position:absolute;

  } */

  .img-ve{
    margin-top:80px;
    /* margin-left:-150px; */
  }




}

@media only screen and (min-width:300px) and (max-width: 640px){
  .img-ve{
    visibility:hidden;
  }

  .head2{
    margin-left:150px;
    font-size:80px;
    margin-top:-200px;
    /* text-align:center; */
  }

}


@media only screen and (min-width:601px) and (max-width: 900px) {

  .head1{
    margin-left:50px;
    font-size:50px;
  }

  .head2{
     margin-left:50px;
     font-size:50px;
   }





    .img-idea{
      margin-top: -50px;
      height:520px;
    }

    .img-ve{
      margin-top:110px;
      margin-left:-550px;
    }


}


@media only screen and (min-width:901px) and (max-width: 1200px) {

  .head1{
    margin-left:50px;
    font-size:55px;
  }

  .head2{
    margin-left:50px;
    font-size:55px;
  }



        .img-idea{
          margin-top: -50px;
          height:510px;
        }


}


@media only screen and (min-width:600px) and (max-width: 650px) {
  .img-ve{
    margin-top:80px;
    margin-left:-107px;
  }
}

@media only screen and (min-width:650px) and (max-width: 750px) {
  .img-ve{
    margin-top:180px;
    margin-left:-110px;
  }
}


@media only screen and (min-width:750px) and (max-width: 800px) {
  .img-ve{
    margin-top:180px;
    margin-left:-121px;
  }
}

@media only screen and (min-width:800px) and (max-width: 900px) {
  .img-ve{
    margin-top:180px;
    margin-left:-130px;
  }
}


@media only screen and (min-width:900px) and (max-width: 1000px) {
  .img-ve{
    margin-top:180px;
    margin-left:-142px;
  }
}

@media only screen and (min-width:1000px) and (max-width: 1100px) {
  .img-ve{
    margin-top:180px;
    margin-left:-154px;
  }
}

@media only screen and (min-width:1100px) and (max-width: 1200px) {
  .img-ve{
    margin-top:180px;
    margin-left:-168px;
  }
}

@media only screen and (min-width:1200px) and (max-width: 1300px) {
  .img-ve{
    margin-top:180px;
    margin-left:-184px;
  }
}


@media only screen and (min-width:1300px) and (max-width: 1400px) {

  /* .head{
    margin-left:150px;
  } */

  .img-ve{
    margin-top:180px;
    margin-left:-200px;
  }
}
/* @media only screen and (min-width:1300px)  {
  .img-ve{
    margin-top:180px;
    margin-left:-450px;
  }
} */
</style>





  <div class="outer " >

      <div class="flexdiv  uk-flex" >
        <div class="uk-grid">

          <div class="div1 container uk-width-2-3@s py-5 ">
            <div class="mx-auto px-5">
              <h1 class="display-2 head1 text-left "  style= "font-family:impact; color:#263238;"> Wanna Know More <br> About VE <a href="#"><img class="img-arrow1" style="height:100px;" src="{%static 'images/leftlogin.png' %}" alt=""></a></h1>

            </div>
            <div class=" text-center mt-5 ">
              <img class="img-idea  " src="{%static 'images/Sharing Ideas-pana.svg' %}" alt="">
            </div>
          </div>


          <div class="div2 container uk-width-1-3@s  py-5 ">
            <div class="text-left">
              <img class="img-ve text-center " src="{% static 'images/veland.png'%}" alt="">
            </div>

            <div class="mx-auto py-5 px-2">
              <h1 class=" display-2 head2 text-left" style="font-family :impact; color:#fff;">Go To <br>Login <a href="{% url 'login' %}"><img class="img-arrow2" style="height:100px;" src="{% static 'images/rightlogin.png'%}" alt=""></a></h1>
            </div>

          </div>

        </div>





      </div>

  </div>





{% endblock %}
