{% extends 'base1.html' %}{% load static %}{% block title %}Login{% endblock %}

{% block content %}
<style>

  html, body {
    /* height: 100%; */
    font-family : 'impact';
    overflow:hidden;
  }

.outer, .flexdiv{
    height:100%;
}

h1{
  font-weight:600;
}

.div1{
  /* padding-left:200px; */
  background: #fff1d5;


}

.div2{
  background: #f3aa4e;

}

.head1{
  margin-left:50px;
  font-size:80px;
}

.head2{
  margin-left:100px;
  font-size:68px;
}

.img-arrow1{
  height: 120px;
  margin-top:30px;
  margin-left:-30px;
  position:absolute;

}

.img-arrow1:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.1);
  transition: 1s ease;

}

.img-arrow2{
  height: 150px;
  margin-top:10px;
  margin-left:-30px;
  position:absolute;

}

.img-arrow2:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.1);
  transition: 1s ease;

}



.img-idea{
  margin-top: -50px;
  height:480px;
}


.img-ve{
  margin-top:180px;
  margin-left:-455px;
  position:relative;
}



@media only screen and (max-width: 600px) {

  .head1{
    margin-left:40px;
    font-size:50px;
  }

  .head2{
    margin-left:30px;
    font-size:50px;
  }

  .img-arrow1{
    height: 80px;
    margin-top:15px;
    margin-left:1px;
    position:absolute;

  }
  .img-arrow2{
    height: 100px;
    margin-top:70px;
    margin-left:-100px;
    position:absolute;

  }

  .img-ve{
    margin-top:80px;
    margin-left:-170px;
  }

  .img-ve{
    margin-top:110px;
    margin-left:-170px;
  }


}



@media only screen and (min-width:601px) and (max-width: 900px) {

  .head1{
    margin-left:50px;
    font-size:50px;
  }

  .head2{
    margin-left:50px;
    font-size:50px;
  }



    .img-arrow1{
      height: 100px;
      margin-top:10px;
      position:absolute;

    }
    .img-arrow2{
      height: 100px;
      margin-top:70px;
      margin-left:-100px;
      position:absolute;

    }


    .img-idea{
      margin-top: -50px;
      height:520px;
    }



}


@media only screen and (min-width:901px) and (max-width: 1200px) {

  .head1{
    margin-left:50px;
    font-size:55px;
  }

  .head2{
    margin-left:50px;
    font-size:55px;
  }



    .img-arrow1{
      height: 100px;
      margin-top:10px;
      margin-left:-20px;
      position:absolute;

    }
    .img-arrow2{
      height: 100px;
      margin-top:20px;
      margin-left:-20px;
      position:absolute;

    }


        .img-idea{
          margin-top: -50px;
          height:510px;
        }


}


@media only screen and (min-width:600px) and (max-width: 650px) {
  .img-ve{
    margin-top:80px;
    margin-left:-150px;
  }
}

@media only screen and (min-width:650px) and (max-width: 750px) {
  .img-ve{
    margin-top:180px;
    margin-left:-200px;
  }
}


@media only screen and (min-width:750px) and (max-width: 800px) {
  .img-ve{
    margin-top:180px;
    margin-left:-230px;
  }
}

@media only screen and (min-width:800px) and (max-width: 900px) {
  .img-ve{
    margin-top:180px;
    margin-left:-250px;
  }
}


@media only screen and (min-width:900px) and (max-width: 1000px) {
  .img-ve{
    margin-top:180px;
    margin-left:-280px;
  }
}

@media only screen and (min-width:1000px) and (max-width: 1100px) {
  .img-ve{
    margin-top:180px;
    margin-left:-310px;
  }
}

@media only screen and (min-width:1100px) and (max-width: 1200px) {
  .img-ve{
    margin-top:180px;
    margin-left:-340px;
  }
}

@media only screen and (min-width:1200px) and (max-width: 1300px) {
  .img-ve{
    margin-top:180px;
    margin-left:-370px;
  }
}
</style>





  <div class="outer " >

      <div class="flexdiv  uk-flex" >

         <div class="div1 container uk-width-2-3 py-5 ">
           <div class="mx-auto">
             <h1 class=" head1 text-left"  style= "font-family:impact; color:#263238;"> Wanna Know More <br> About VE <a href="#"><img class="img-arrow1" src="{%static 'images/login copy.png' %}" alt=""></a></h1>

           </div>
           <div class=" text-center mt-5 ">
             <img class="img-idea  " src="{%static 'images/Sharing Ideas-pana.svg' %}" alt="">
           </div>
         </div>


         <div class="div2 container uk-width-1-3 py-3">
           <div class="text-center">
             <img class="img-ve text-center " src="{% static 'images/VEland.png'%}" alt="">
           </div>

           <div class="mx-auto py-5">
             <h1 class=" head2 text-left" style="font-family :impact; color:#263238;">Go To <br>Login <a href="#"><img class="img-arrow2" src="{% static 'images/loginpng2.png'%}" alt=""></a></h1>
           </div>

         </div>




      </div>

  </div>





{% endblock %}
