{% extends 'base1.html' %}
{% load static %}{% block title %}User-Project{% endblock %}
{% block content %}
 <div id="wrapper">

        <div id="searchbox">

            <div class="search-overlay"></div>

            <div class="search-input-wrapper">
                <div class="search-input-container">
                    <div class="search-input-control">
                        <span class="icon-feather-x btn-close uk-animation-scale-up"
                            uk-toggle="target: #searchbox; cls: is-active"></span>
                        <div class=" uk-animation-slide-bottom">
                            <input type="text" name="search" autofocus required>
                            <p class="search-help">Type the name of the Course and book you are looking for</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- overlay seach on mobile-->
        <div class="nav-overlay uk-navbar-left uk-position-relative uk-flex-1 bg-grey uk-light p-2" hidden
            style="z-index: 10000;">
            <div class="uk-navbar-item uk-width-expand" style="min-height: 60px;">
                <form class="uk-search uk-search-navbar uk-width-1-1">
                    <input class="uk-search-input" type="search" placeholder="Search..." autofocus>
                </form>
            </div>
            <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade"
                href="#"></a>
        </div>

        {#     MENU   #}
        {% include 'partials/user_partials/_menu.html' %}

        <div class="page-content">


            {% include 'partials/user_partials/_header.html' %}


            <br>

             <div class="page-content-inner">

              <h2>Projects</h2>

              <nav class="responsive-tab mb-4">
                  <li class="#"><a href="user-profile.html"></a></li>
                  <li><a class="uk-active" href="user-project.html"></a></li>
                  <li><a href="user-profile-edit.html"></a></li>
              </nav>





                    <div class="uk-width-4-4@m my-4">
                        <div class="card rounded">
                            <div class="uk-container uk-container-center uk-width-expand py-4 animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
                              <ul class="uk-child-width-expand uk-tab"
                                  uk-switcher="connect: #course-edit-tab ; animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
                                <li><a href="">Latest Projects</a></li>
                                <li><a href="">CFP Projects</a></li>
                                <li><a href="">Management Works</a></li>
                              </ul>
                              <ul class="uk-switcher uk-margin" id="course-edit-tab">
                                <li class=" uk-width-auto px-2"><a href="#" id="autoplayer" data-uk-switcher-item="next"></a>


                                  <div class="uk-child-width-1-3@m" uk-grid>

                                    {% for i in cfp1_projects %}
                                    <a href="{% url 'userprojectdetails' i.pk  %}">
                                     <div class="rounded">
                                         <div class="uk-card uk-card-default rounded">
                                             <div class="uk-card-media-top rounded">
                                               <span class="uk-card-badge uk-label uk-position-top-right bg-primary">{{i.project_status}}</span>
                                               {% if i.project_thumbnail %}
                                                 <img src="{{i.project_thumbnail.url}}" class="rounded" alt="">
                                                {% else %}
                                                <img src="" class="rounded" alt="">
                                                {% endif %}
                                             </div>
                                             <div class="uk-card-body r">
                                               <h5 class="m-0"><strong>Name :</strong> {{i.project_title}}</h5>
                                               <h5 class="m-0"><strong>Category :</strong> {{i.project_category}}</h5>
                                               <h5 class="m-0"><strong>Required Members :</strong> {{i.candidates_required}}</h5>
                                               <h5 class="m-0"><strong>Project Durations :</strong> {{i.project_duration}} months</h5>

                                             </div>
                                         </div>
                                     </div>
                                     </a>
                                    {% endfor %}

                                    {% for i in cfp2_projects %}
                                    <a href="{% url 'userprojectdetails' i.pk  %}">
                                     <div class="rounded">
                                         <div class="uk-card uk-card-default rounded">
                                             <div class="uk-card-media-top rounded">
                                               <span class="uk-card-badge uk-label uk-position-top-right bg-primary">{{i.project_status}}</span>
                                               {% if i.project_thumbnail %}
                                                 <img src="{{i.project_thumbnail.url}}" class="rounded" alt="">
                                                {% else %}
                                                <img src="" class="rounded" alt="">
                                                {% endif %}
                                             </div>
                                             <div class="uk-card-body r">
                                               <h5 class="m-0"><strong>Name :</strong> {{i.project_title}}</h5>
                                               <h5 class="m-0"><strong>Category :</strong> {{i.project_category}}</h5>
                                               <h5 class="m-0"><strong>Required Members :</strong> {{i.candidates_required}}</h5>
                                               <h5 class="m-0"><strong>Project Durations :</strong> {{i.project_duration}} months</h5>
                                             </div>
                                         </div>
                                     </div>
                                     </a>
                                    {% endfor %}



                                 </div>
                                </li>


                                <li class=" uk-width-auto px-2">

                                  <div class="uk-child-width-1-3@m" uk-grid>

                                    {% for i in cfp1_projects %}
                                    <a href="{% url 'userprojectdetails' i.pk  %}">
                                     <div class="rounded">
                                         <div class="uk-card uk-card-default rounded">
                                             <div class="uk-card-media-top rounded">
                                               <span class="uk-card-badge uk-label uk-position-top-right bg-primary">{{i.project_status}}</span>
                                               {% if i.project_thumbnail %}
                                                 <img src="{{i.project_thumbnail.url}}" class="rounded" alt="">
                                                {% else %}
                                                <img src="" class="rounded" alt="">
                                                {% endif %}
                                             </div>
                                             <div class="uk-card-body r">
                                               <h5 class="m-0"><strong>Name :</strong> {{i.project_title}}</h5>
                                               <h5 class="m-0"><strong>Category :</strong> {{i.project_category}}</h5>
                                               <h5 class="m-0"><strong>Required Members :</strong> {{i.candidates_required}}</h5>
                                               <h5 class="m-0"><strong>Project Durations :</strong> {{i.project_duration}} months</h5>

                                             </div>
                                         </div>
                                     </div>
                                     </a>
                                    {% endfor %}

                                    {% for i in cfp2_projects %}
                                    <a href="{% url 'userprojectdetails' i.pk  %}">
                                     <div class="rounded">
                                         <div class="uk-card uk-card-default rounded">
                                             <div class="uk-card-media-top rounded">
                                               <span class="uk-card-badge uk-label uk-position-top-right bg-primary">{{i.project_status}}</span>
                                               {% if i.project_thumbnail %}
                                                 <img src="{{i.project_thumbnail.url}}" class="rounded" alt="">
                                                {% else %}
                                                <img src="" class="rounded" alt="">
                                                {% endif %}
                                             </div>
                                             <div class="uk-card-body r">
                                               <h5 class="m-0"><strong>Name :</strong> {{i.project_title}}</h5>
                                               <h5 class="m-0"><strong>Category :</strong> {{i.project_category}}</h5>
                                               <h5 class="m-0"><strong>Required Members :</strong> {{i.candidates_required}}</h5>
                                               <h5 class="m-0"><strong>Project Durations :</strong> {{i.project_duration}} months</h5>
                                             </div>
                                         </div>
                                     </div>
                                     </a>
                                    {% endfor %}



                                 </div>

                                </li>


                                <li class=" uk-width-auto px-2">
                                  <div class="uk-child-width-1-3@m" uk-grid>
                                    <div class="rounded">
                                        <div class="uk-card uk-card-default rounded">
                                            <div class="uk-card-media-top rounded">

                                                <img src="../assets/images/course/1.png" class="rounded" alt="">
                                            </div>
                                            <div class="uk-card-body r">
                                                <h5 class="m-0">Name</h5>
                                                <h5 class="m-0">Category</h5>
                                                <h5 class="m-0">Required Members</h5>
                                                <h5 class="m-0">Project Date</h5>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="rounded">
                                        <div class="uk-card uk-card-default rounded">
                                            <div class="uk-card-media-top rounded">

                                                <img src="../assets/images/course/1.png" class="rounded" alt="">
                                            </div>
                                            <div class="uk-card-body r">
                                                <h5 class="m-0">Name</h5>
                                                <h5 class="m-0">Category</h5>
                                                <h5 class="m-0">Required Members</h5>
                                                <h5 class="m-0">Project Date</h5>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="rounded">
                                        <div class="uk-card uk-card-default rounded">
                                            <div class="uk-card-media-top rounded">

                                                <img src="../assets/images/course/1.png" class="rounded" alt="">
                                            </div>
                                            <div class="uk-card-body r">
                                                <h5 class="m-0">Name</h5>
                                                <h5 class="m-0">Category</h5>
                                                <h5 class="m-0">Required Members</h5>
                                                <h5 class="m-0">Project Date</h5>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="rounded">
                                        <div class="uk-card uk-card-default rounded">
                                            <div class="uk-card-media-top rounded">

                                                <img src="../assets/images/course/1.png" class="rounded" alt="">
                                            </div>
                                            <div class="uk-card-body r">
                                                <h5 class="m-0">Name</h5>
                                                <h5 class="m-0">Category</h5>
                                                <h5 class="m-0">Required Members</h5>
                                                <h5 class="m-0">Project Date</h5>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="rounded">
                                        <div class="uk-card uk-card-default rounded">
                                            <div class="uk-card-media-top rounded">

                                                <img src="../assets/images/course/1.png" class="rounded" alt="">
                                            </div>
                                            <div class="uk-card-body r">
                                                <h5 class="m-0">Name</h5>
                                                <h5 class="m-0">Category</h5>
                                                <h5 class="m-0">Required Members</h5>
                                                <h5 class="m-0">Project Date</h5>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="rounded">
                                        <div class="uk-card uk-card-default rounded">
                                            <div class="uk-card-media-top rounded">

                                                <img src="../assets/images/course/1.png" class="rounded" alt="">
                                            </div>
                                            <div class="uk-card-body r">
                                                <h5 class="m-0">Name</h5>
                                                <h5 class="m-0">Category</h5>
                                                <h5 class="m-0">Required Members</h5>
                                                <h5 class="m-0">Project Date</h5>

                                            </div>
                                        </div>
                                    </div>
                                 </div>
                                </li>
                              </ul>


                            </div>
                        </div>
                    </div>




                    <div class="uk-card-default rounded  my-4 pb-2">
                        <div class="uk-flex uk-flex-between uk-flex-middle py-4 px-5">
                            <h4 class="mb-0"> Enrolled Projects </h4>
                                <a href="#" uk-tooltip="title:Edit Account; pos: left"> <i
                                        class="icon-feather-settings"></i> </a>
                        </div>

                        <div class="uk-container pb-3">
                          <div class="uk-child-width-1-4@m  px-4" uk-grid>

                          {% for i in enrolled_projects %}
                          <div class="course-card-resume p-0 mx-2">
                              <div class="course-card-resume-thumbnail">
                                {% if i.project.project_thumbnail %}
                                  <img src="{{ i.project.project_thumbnail.url }}" >
                                {% else %}
                                  <img src="" >
                                {% endif %}
                              </div>
                              <div class="uk-card-body px-3 py-3">
                                  <h5 class="m-0"><strong>Name : </strong>{{i.project.project_title}}</h5>
                                  <h5 class="m-0"><strong>Category: </strong>{{i.project.project_category}}</h5>
                                  <h5 class="m-0"><strong>Status: </strong>{{i.project.project_status}}</h5>
                                  <!-- <h5 class="m-0">Project CFP :{{i.project.project_cfp}}</h5> -->
                                  <!-- <h5 class="m-0">Project Date: {{i.project.project_t}}</h5> -->

                              </div>
                          </div>
                          {% endfor %}


                            </div>
                        </div>
                    </div>



                    <div class="uk-card-default rounded pb-2">
                        <div class="uk-flex uk-flex-between uk-flex-middle py-4 px-5">
                            <h4 class="mb-0"> Project Certificates </h4>
                                <a href="#" uk-tooltip="title:Edit Account; pos: left"> <i
                                        class="icon-feather-settings"></i> </a>
                        </div>

                        <div class="uk-container pb-3">
                          <div class="uk-child-width-1-4@m  px-4" uk-grid>


                            <div class="rounded">
                            <div class="uk-card uk-card-small uk-card-primary uk-card-hover uk-card-body uk-light">
                                <h3 class="uk-card-title">Title Name</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <span class="uk-label">Status</span>
                            </div>
                          </div>

                        <div class="rounded">
                            <div class="uk-card  uk-card-small uk-card-primary uk-card-hover uk-card-body uk-light">
                                <h3 class="uk-card-title">Title Name</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <span class="uk-label">Status</span>
                            </div>
                        </div>

                        <div class="rounded">
                            <div class="uk-card  uk-card-small uk-card-primary uk-card-hover uk-card-body uk-light">
                                <h3 class="uk-card-title">Title Name</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <span class="uk-label">Status</span>
                            </div>
                        </div>

                        <div class="rounded">
                            <div class="uk-card  uk-card-small uk-card-primary uk-card-hover uk-card-body uk-light">
                                <h3 class="uk-card-title">Title Name</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <span class="uk-label">Status</span>
                            </div>
                        </div>


                            </div>
                        </div>




        </div>

 </div>
             {% include 'partials/_footer.html' %}
        </div>

    <!-- For Night mode -->
    <script>
        (function (window, document, undefined) {
            'use strict';
            if (!('localStorage' in window)) return;
            var nightMode = localStorage.getItem('gmtNightMode');
            if (nightMode) {
                document.documentElement.className += ' night-mode';
            }
        })(window, document);


        (function (window, document, undefined) {

            'use strict';

            // Feature test
            if (!('localStorage' in window)) return;

            // Get our newly insert toggle
            var nightMode = document.querySelector('#night-mode');
            if (!nightMode) return;

            // When clicked, toggle night mode on or off
            nightMode.addEventListener('click', function (event) {
                event.preventDefault();
                document.documentElement.classList.toggle('night-mode');
                if (document.documentElement.classList.contains('night-mode')) {
                    localStorage.setItem('gmtNightMode', true);
                    return;
                }
                localStorage.removeItem('gmtNightMode');
            }, false);

        })(window, document);
    </script>

{% endblock %}
