{% extends 'base1.html' %}{% load static %}
{% block title %}
Course Details
{% endblock %}
{% block content %}

    <div id="wrapper">

        <!-- Header Container
        ================================================== -->
        {% include 'partials/user_partials/_header.html' %}

        <!-- overlay seach on mobile-->
        <div class="nav-overlay uk-navbar-left uk-position-relative uk-flex-1 bg-grey uk-light p-2" hidden
            style="z-index: 10000;">
            <div class="uk-navbar-item uk-width-expand" style="min-height: 60px;">
                <form class="uk-search uk-search-navbar uk-width-1-1">
                    <input class="uk-search-input" type="search" placeholder="Search..." autofocus>
                </form>
            </div>
            <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade"
                href="#"></a>
        </div>

        <!-- search overlay-->
        <div id="searchbox">

            <div class="search-overlay"></div>

            <div class="search-input-wrapper">
                <div class="search-input-container">
                    <div class="search-input-control">
                        <span class="icon-feather-x btn-close uk-animation-scale-up"
                            uk-toggle="target: #searchbox; cls: is-active"></span>
                        <div class=" uk-animation-slide-bottom">
                            <input type="text" name="search" autofocus required>
                            <p class="search-help">Type the name of the Course and book you are looking for</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- side nav-->
       {% include 'partials/user_partials/_menu.html' %}

        <!-- content -->
        <div class="page-content">

            <div class="course-details-wrapper topic-1 uk-light pt-5">

                <div class="container p-sm-0">

                    <div uk-grid>
                        <div class="uk-width-2-3@m">

                            <div class="course-details">
                                <h1> {{ course_details.title }}</h1>
                                <p> {{ course_details.meta_description }} </p>



                                <div class="course-details-info">

                                    <ul>
                                        <li> Created by <a href="#"> {{ course_details.user.first_name }} {{ course_details.user.last_name }} </a> </li>
                                            <li> Email : {{ course_details.user.email }}</li>
                                        <li> Last updated : 26/01/2020</li>
                                    </ul>

                                </div>
                            </div>
                            <nav class="responsive-tab style-5">
                                <ul
                                    uk-switcher="connect: #course-intro-tab ;animation: uk-animation-slide-right-medium, uk-animation-slide-left-medium">
                                    <li><a href="#">Overview</a></li>
                                    <li><a href="#">Curriculum</a></li>
                                </ul>
                            </nav>

                        </div>
                    </div>

                </div>
            </div>

            <div class="container">

                <div class="uk-grid-large mt-4" uk-grid>
                    <div class="uk-width-2-3@m">
                        <ul id="course-intro-tab" class="uk-switcher mt-4">

                            <!-- course description -->
                            <li class="course-description-content">

                                <h4><strong>Description </strong></h4>
                                <p> {{ course_details.short_description }}</p>


                                <h4><strong> What you will learn </strong></h4>
                                        <div class="" >
                                            <ul class="list-2 uk-child-width-1-2@s" uk-grid >
                                              {% for i in learn_list %}
                                              <div class="my-0">
                                                <li>{{i}} </li>
                                              </div>

                                              {% endfor %}
                                            </ul>
                                        </div>


                                    <h4><strong> Requirements </strong></h4>
                                    <ul class="list-1">
                                      {% for i in req_list %}
                                        <li>{{i}}</li>
                                      {% endfor %}
                                    </ul>




                            </li>

                            <!-- course Curriculum-->
                            <li>

                                <ul class="course-curriculum" uk-accordion="multiple: true">

                                {% if lessons %}

                                {% for curriculam in lessons %}
                                    <li class="uk-open">
                                        <a class="uk-accordion-title" href="#"> {{ curriculam.lesson_name }} </a>
                                        <div class="uk-accordion-content">

                                            <!-- course-video-list -->
                                            {% for topic in topics %}
                                                {% if topic.topic_id_id == curriculam.pk %}
                                            <ul class="course-curriculum-list">
                                                <li> {{ topic.topic_caption }} <span> {{ topic.video_duration }} </span>

                                            </ul>
                                                {% endif %}

                                            {% endfor %}

                                        </div>
                                    </li>
                                {% endfor %}
                                {% endif %}


                                </ul>

                            </li>



                        </ul>
                    </div>

                    <div class="uk-width-1-3@m">
                        <div class="course-card-trailer">
                           {% if course_details.course_image %}
                            <div class="course-thumbnail">
                                <img src="{{ course_details.course_image.url }}" alt="">
                                <a class="play-button-trigger show" href="{% url 'userlesson' course_details.pk %}" uk-toggle> </a>
                            </div>
                            {% else %}
                            {% endif %}




                            <div class="p-3">

                                <p> 1 Hour Left At This price</p>

                                <div class="uk-child-width-1-2 uk-grid-small mb-4" uk-grid>
                                    <div>
                                        <a href="{% url 'userlesson' course_details.pk %}"
                                         class="uk-width-1-1 btn btn-default transition-3d-hover play"><i class="uil-play"></i> Start </a>
                                    </div>
                                </div>

                                <p class="uk-text-bold"> This Course Incluce </p>

                                <div class="uk-child-width-1-2 uk-grid-small" uk-grid>
                                    <div>
                                        <span><i class="uil-youtube-alt"></i> 28 hours video</span>
                                    </div>
                                    <div>
                                        <span> <i class="uil-award"></i> Certificate </span>
                                    </div>
                                    <div>
                                        <span> <i class="uil-file-alt"></i> {{ lessons.count }} Lessons </span>
                                    </div>
                                    <div>
                                        <span> <i class="uil-video"></i> Watch Offline </span>
                                    </div>
                                    <div>
                                        <span> <i class="uil-award"></i> Certificate </span>
                                    </div>
                                    <div>
                                        <span> <i class="uil-clock-five"></i> Lifetime access </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                         <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light uk-margin-medium-top"
                             data-src="https://images.unsplash.com/photo-1490822180406-880c226c150b?fit=crop&w=650&h=433&q=80"
                             data-srcset="https://images.unsplash.com/photo-1490822180406-880c226c150b?fit=crop&w=650&h=433&q=80 650w,
                                          https://images.unsplash.com/photo-1490822180406-880c226c150b?fit=crop&w=1300&h=866&q=80 1300w"
                             data-sizes="(min-width: 650px) 650px, 100vw" uk-img>
                            <center><h3>Complete your course and unlock <br/>MAJOR PROJECT</h3>
                               <i class="uil-lock" style="font-size: 5rem; color:#fff;"></i>
                           </center>
                        </div>

                    </div>

                </div>

                <!-- footer
               ================================================== -->
                {% include 'partials/_footer.html' %}



            </div>

        </div>
    </div>


{% endblock %}