{% extends 'base1.html' %}
{% load static %}
{% block content %}

    <div id="wrapper">


        <!-- overlay seach on mobile-->
        <div class="nav-overlay uk-navbar-left uk-position-relative uk-flex-1 bg-grey uk-light p-2" hidden
            style="z-index: 10000;">
            <div class="uk-navbar-item uk-width-expand" style="min-height: 60px;">
                <form class="uk-search uk-search-navbar uk-width-1-1">
                    <input class="uk-search-input" type="search" placeholder="Search..." autofocus>
                </form>
            </div>
            <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade"
                href="#"></a>
        </div>

        <!-- search overlay-->
        <div id="searchbox">

            <div class="search-overlay"></div>

            <div class="search-input-wrapper">
                <div class="search-input-container">
                    <div class="search-input-control">
                        <span class="icon-feather-x btn-close uk-animation-scale-up"
                            uk-toggle="target: #searchbox; cls: is-active"></span>
                        <div class=" uk-animation-slide-bottom">
                            <input type="text" name="search" autofocus required>
                            <p class="search-help">Type the name of the Course and book you are looking for</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- menu -->
        {% include 'partials/user_partials/_menu.html' %}

        <!-- content -->
        <div class="page-content">

             <!-- Header Container
        ================================================== -->
        {% include 'partials/user_partials/_header.html' %}
        <br>
            <div class="page-content-inner">

                <h4>Profile Edit</h4>

                <nav class="responsive-tab mb-4">
                    <li class="#"><a href="user-profile.html"></a></li>
                    <li><a  href="user-project.html"></a></li>
                    <li><a class="uk-active" href="user-profile-edit.html"></a></li>
                </nav>

                <div uk-grid>

                    <div class="uk-width-2-5@m uk-flex-last@m">

                        <div class="uk-card-default rounded text-center p-4">
                            <div class="uk-position-relative my-4">

                                    <div class="user-profile-photo  m-auto">
                                        <img src="{% static 'images/avatars/home-profile.jpg' %}" alt="">
                                    </div>



                                <div class="uk-position-center">
                                    <div uk-form-custom>
                                        <input type="file">
                                        <span class="uk-link icon-feather-camera icon-medium text-white"> </span>
                                    </div>

                                </div>
                            </div>

                            <button class="btn btn-default m-auto mb-3">Save photo</button>
                        </div>


                        <div class="uk-card-default rounded p-4 mt-5">
                         


                          <h3>Choose Your Career Path</h3>

                            <div class="uk-position-relative my-4">

                              <div class="uk-child-width-1-2@s uk-grid-small m-1" uk-grid>

                              <div class="uk-inline">
                                  <button class="uk-button btn-default uk-width-expand pl-2 pr-2" type="button">Career Categories</button>
                                  <div uk-dropdown="pos: bottom-left">
                                      <ul class="uk-nav uk-dropdown-nav">
                                          <li class="uk-width-expand" ><input class="uk-radio" style="height:15px; width:15px;" type="radio" name="category">&nbsp;<span class="ml-3"> IT & Software</span></li>
                                          
                                                                                                                                                                    
                                          <li class="uk-nav-divider"></li>
                                          <li class="uk-width-expand" ><input class="uk-radio" style="height:15px; width:15px;" type="radio" name="category">&nbsp;<span class="ml-3">  Business & Startup</span></li>
                                                                                                                                                                                            
                                          <li class="uk-nav-divider"></li>
                                          <li class="uk-width-expand" ><input class="uk-radio" style="height:15px; width:15px;" type="radio" name="category">&nbsp;<span class="ml-3"> Electronics & Electicals</span></li>
                                                                                                                                                                                            
                                          <li class="uk-nav-divider"></li>
                                          <li class="uk-width-expand" ><input class="uk-radio" style="height:15px; width:15px;" type="radio" name="category">&nbsp;<span class="ml-3"> Design</span></li>
                                                                                                                                                                                            

                                      </ul>
                                  </div>
                              </div>
                                

                              <div class="uk-inline">
                                  <button class="uk-button btn-default uk-width-expand pl-2 pr-2" type="button">Career details</button>
                                  <div uk-dropdown="pos: bottom-left">
                                      <ul class="uk-nav uk-dropdown-nav">
                                          <li class="uk-width-expand" ><input class="" style="height:15px; width:15px;" type="checkbox"/>&nbsp;<span class="ml-3">Web Developer</span></li>
                                          <div class="uk-width-auto" uk-drop="pos:right-top">
                                            <div class="uk-card uk-card-body uk-card-default">
                                              <ul>
                                                <li>HTML</li>
                                                <li>CSS</li>
                                                <li>Javascript</li>
                                                <li>Django</li>
                                              </ul>
                                            </div>
                                          </div>
                                                                                                                                                                    
                                          <li class="uk-nav-divider"></li>
                                          <li class="uk-width-expand" ><input class="" style="height:15px; width:15px;" type="checkbox"/>&nbsp;<span class="ml-3">Machine Learning</span></li><div class="uk-width-auto" uk-drop="pos:right-top">
                                                                                                                                                                                            <div class="uk-card uk-card-body uk-card-default">
                                                                                                                                                                                               <ul>
                                                                                                                                                                                                  <li>Tensorflow</li>
                                                                                                                                                                                                  <li>Keras</li>
                                                                                                                                                                                                  <li>Python</li>
                                                                                                                                                                                                  <li>Pandas</li>
                                                                                                                                                                                                </ul>
                                                                                                                                                                                               </div>
                                                                                                                                                                                            </div>
                                          <li class="uk-nav-divider"></li>
                                          <li class="uk-width-expand" ><input class="" style="height:15px; width:15px;" type="checkbox"/>&nbsp;<span class="ml-3">Data Science</span></li><div class="uk-width-auto" uk-drop="pos:right-top">
                                                                                                                                                                                            <div class="uk-card uk-card-body uk-card-default">
                                                                                                                                                                                               <ul>
                                                                                                                                                                                                  <li>Python</li>
                                                                                                                                                                                                  <li>Numpy</li>
                                                                                                                                                                                                  <li>Pandas</li>
                                                                                                                                                                                                  <li>Matplotlib</li>
                                                                                                                                                                                                </ul>
                                                                                                                                                                                               </div>
                                                                                                                                                                                            </div>
                                          <li class="uk-nav-divider"></li>
                                          <li class="uk-width-expand" ><input class="" style="height:15px; width:15px;" type="checkbox"/>&nbsp;<span class="ml-3">App Development</span></li><div class="uk-width-auto" uk-drop="pos:right-top">
                                                                                                                                                                                            <div class="uk-card uk-card-body uk-card-default">
                                                                                                                                                                                               <ul>
                                                                                                                                                                                                  <li>Jave</li>
                                                                                                                                                                                                  <li>Kotlin</li>
                                                                                                                                                                                                  <li>Flutter</li>
                                                                                                                                                                                                  <li>UI/UX</li>
                                                                                                                                                                                                </ul>
                                                                                                                                                                                               </div>
                                                                                                                                                                                            </div>

                                      </ul>
                                  </div>
                              </div>

                              </div>
                            </div>
                        </div>





                    </div>
                    <div class="uk-width-expand@m">

                        <div class="uk-card-default rounded">
                            <div class="p-3">
                                <h5 class="mb-0"> Contact info </h5>
                            </div>
                            <hr class="m-0">
                            <form class="uk-child-width-1-2@s uk-grid-small p-4" uk-grid>
                                <div>
                                    <h5 class="uk-text-bold mb-2"> First Name </h5>
                                    <input type="text" class="uk-input" placeholder="Your name">
                                </div>
                                <div>
                                    <h5 class="uk-text-bold mb-2"> Last Name </h5>
                                    <input type="text" class="uk-input" placeholder="Your seccond">
                                </div>
                                <div>
                                    <h5 class="uk-text-bold mb-2"> Gender </h5>
                                    <select class="uk-select">
                                        <option>Male</option>
                                        <option>Female</option>
                                        <option>Others</option>
                                    </select>
                                </div>
                                <div>
                                    <h5 class="uk-text-bold mb-2"> Email address </h5>
                                    <input type="text" class="uk-input" placeholder="eliedaniels@gmail.com">
                                </div>
                                <div>
                                    <h5 class="uk-text-bold mb-2"> Contact no </h5>
                                    <input type="text" class="uk-input" placeholder="+1 555 623 568 ">
                                </div>

                                <div>
                                    <h5 class="uk-text-bold mb-2"> Address </h5>
                                    <input type="text" class="uk-input" placeholder="Your address ">
                                </div>
                            </form>

                            <div class="uk-flex uk-flex-right p-4">
                                
                                <button class="btn btn-default grey">Save Changes</button>
                            </div>
                        </div>

                        <div class="uk-card-default rounded mt-4">
                            <div class="p-3">
                                <h5 class="mb-0"> Educational Details </h4>
                            </div>
                            <hr class="m-0">
                            <form>

                              <div class="uk-child-width-1-3@s uk-grid-small p-4" uk-grid>
                                <div>
                                    <h5 class="uk-text-bold mb-2"> Degree </h5>
                                    <select class="uk-select">
                                        <option>B.E / B.Tech</option>
                                        <option>MCA</option>
                                        <option>M.Com</option>
                                        <option>MBA</option>
                                        <option>M.S</option>
                                        <Option>Other Type</Option>
                                    </select>
                                </div>
                                <div>
                                    <h5 class="uk-text-bold mb-2"> Specialisation </h5>
                                    <select class="uk-select">
                                        <option>CSE / IT</option>
                                        <option>ECE</option>
                                        <option>EEE</option>
                                        <option>M.Tech</option>
                                        <option>Civil</option>
                                        <option>Other Type</option>
                                    </select>
                                </div>
                                <div>
                                    <h5 class="uk-text-bold mb-2"> Current year </h5>
                                    <input type="text" class="uk-input" placeholder="Current year">
                                </div>
                              </div>
                                
                                <div class="mx-3 mb-2">
                                    <h5 class="uk-text-bold mb-2"> Institution Name </h5>
                                    <input type="text" class="uk-input" placeholder="Institution name">
                                </div>
                                <div class="mx-3 mb-2">
                                    <h5 class="uk-text-bold mb-2"> Institution Address </h5>
                                    <input type="text" class="uk-input" placeholder="Institution address">
                                </div>
                                

                            </form>
                            <div class="uk-flex uk-flex-right p-4">
                                
                                <button class="btn btn-default grey">Save Changes</button>
                            </div>
                        </div>

                    </div>

                </div>



                <!-- footer
               ================================================== -->
                {% include 'partials/_footer.html' %}

            </div>

        </div>

    </div>

    <!-- For Night mode -->
    <script>
        (function (window, document, undefined) {
            'use strict';
            if (!('localStorage' in window)) return;
            var nightMode = localStorage.getItem('gmtNightMode');
            if (nightMode) {
                document.documentElement.className += ' night-mode';
            }
        })(window, document);


        (function (window, document, undefined) {

            'use strict';

            // Feature test
            if (!('localStorage' in window)) return;

            // Get our newly insert toggle
            var nightMode = document.querySelector('#night-mode');
            if (!nightMode) return;

            // When clicked, toggle night mode on or off
            nightMode.addEventListener('click', function (event) {
                event.preventDefault();
                document.documentElement.classList.toggle('night-mode');
                if (document.documentElement.classList.contains('night-mode')) {
                    localStorage.setItem('gmtNightMode', true);
                    return;
                }
                localStorage.removeItem('gmtNightMode');
            }, false);

        })(window, document);
    </script>

{% endblock %}