{% extends 'base1.html' %}
{% load static %}
{% block content %}
<style>
.course-layouts{
    margin-top: 60px;
}

</style>

    <div id="wrapper">
    {% include 'partials/user_partials/_header.html' %}

            <div class="course-layouts">


                <div class="course-content bg-dark">

                    <div class="course-header">

                        <a href="#" class="btn-back" uk-toggle="target: .course-layouts; cls: course-sidebar-collapse">
                            <i class="icon-feather-chevron-left"></i>
                        </a>

                        <h4 class="text-white"> Build Responsive Websites </h4>

                        <div>
                            <a href="#">
                                <i class="icon-feather-help-circle btns"></i> </a>
                            <div uk-drop="pos: bottom-right;mode : click">
                                <div class="uk-card-default p-4">
                                    <h4> Elementum tellus id mauris faucibuss soluta nobis </h4>
                                    <p class="mt-2 mb-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                                        diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                                        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                                        suscipit lobortis nisl ut aliquip ex ea commodo consequat. Nam liber tempor cum
                                        soluta nobis eleifend option congue nihil imperdiet</p>
                                </div>
                            </div>

                            <a hred="#">
                                <i class="icon-feather-more-vertical btns"></i>
                            </a>
                            <div class="dropdown-option-nav " uk-dropdown="pos: bottom-right ;mode : click">
                                <ul>

                                    <li><a href="#">
                                            <i class="icon-feather-bookmark"></i>
                                            Add To Bookmarks</a></li>
                                    <li><a href="#">
                                            <i class="icon-feather-share-2"></i>
                                            Share With Friend </a></li>

                                    <li>
                                        <a href="#" id="night-mode" class="btn-night-mode">
                                            <i class="icon-line-awesome-lightbulb-o"></i> Night mode
                                            <label class="btn-night-mode-switch">
                                                <div class="uk-switch-button"></div>
                                            </label>
                                        </a>
                                    </li>
                                </ul>
                            </div>


                        </div>

                    </div>

                    <div class="course-content-inner">

                        <ul id="video-slider" class="uk-switcher">
                           
                        {% if lessons %}
                                {% for curriculam in lessons %}
                            {% for topic in topics %}
                                            {% if topic.topic_id_id == curriculam.pk %}
                                            <li>
                             <div class="video-responsive">
                               <!-- <video width='60%' height="40%" style="display:block; margin:0 auto;" controls >
                                               <source src="{{ topic.topic_video }}" type='video/mp4'></video> -->
                                               <iframe src="{{topic.topic_video}}" width="" height=""></iframe>
                                    
                                    
                                     <!-- <iframe id="player" src="https://www.youtube.com/embed/DjB1OvEYMhY?enablejsapi=1" height="540" width="350"></iframe> -->
                                   
                                
                                </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% endfor %}
                        {% endif %}


                        </ul>

                    </div>

                </div>

                <!-- course sidebar -->

                <div class="course-sidebar">
                    <div class="course-sidebar-title">
                        <h3> Table of Contents </h3>
                        <form method=POST>
                          {% csrf_token %}
                          <button type="submit" name="button" class=" mx-4 btn btn-default">Add To Progress</button>
                        </form>
                    </div>
                    <div class="course-sidebar-container" data-simplebar>

                        <ul class="course-video-list-section" uk-accordion>
                            <p id="display"></p>
                            {% if lessons %}
                                {% for curriculam in lessons %}
                             <li class="uk-open">
                                <a class="uk-accordion-title" href="#"> {{ curriculam.lesson_name }} </a>
                                <div class="uk-accordion-content">
                                    <!-- course-video-list -->
                                    <ul class="course-video-list highlight-watched" uk-switcher=" connect: #video-slider  ; animation: uk-animation-slide-right-small, uk-animation-slide-left-medium">
                                        {% for topic in topics %}
                                            {% if topic.topic_id_id == curriculam.pk %}


                                                   <li> <a href="#"> {{ topic.topic_caption }} <span> 5 mins</span> </a></li>
<!-- {#                                                <li><video width='60%' height="40%" style="display:block; margin:0 auto;" controls hidden>#}
{#                                                    <source src="{{ topic.topic_video.url }}" type='video/mp4'>#}
{#                                                    Your browser does not support the video tag.#}
{#                                                </video></li>#}
{#                                                <li><input type="submit" value="{{ topic.topic_caption }}" style="width: 100%"> </li>#} -->

                                            {% endif %}
                                      {% endfor %}
                                    </ul>
                                </div>
                            </li>
                                {% endfor %}
                            {% endif %}
                        </ul>

                    </div>

                </div>

            </div>



         </div>

            <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
         <script>
            function make_button_active(tab) {
                //Get item siblings
                var siblings = tab.siblings();

                /* Remove active class on all buttons
                siblings.each(function(){
                    $(this).removeClass('active');
                }) */

                //Add the clicked button class
                tab.addClass('watched');
            }

            //Attach events to highlight-watched
            $(document).ready(function () {

                if (localStorage) {
                    var ind = localStorage['tab']
                    make_button_active($('.highlight-watched li').eq(ind));
                }

                $(".highlight-watched li").click(function () {
                    if (localStorage) {
                        localStorage['tab'] = $(this).index();
                    }
                    make_button_active($(this));
                });

            });
        </script>
                <!-- <script>
                    var player, timer, timeSpent = [], display = document.getElementById('display');

                    function onYouTubeIframeAPIReady() {
                        player = new YT.Player( 'player', {
                            events: { 'onStateChange': onPlayerStateChange }
                        });
                    }

                    function onPlayerStateChange(event) {
                        if(event.data === 1) { // Started playing
                            if(!timeSpent.length){
                                for(var i=0, l=parseInt(player.getDuration()); i<l; i++) timeSpent.push(false);
                            }
                            timer = setInterval(record,100);
                        } else {
                            clearInterval(timer);
                        }
                    }

                    function record(){
                        timeSpent[ parseInt(player.getCurrentTime()) ] = true;
                        showPercentage();
                    }

                    function showPercentage(){
                        var percent = 0;
                        for(var i=0, l=timeSpent.length; i<l; i++){
                            if(timeSpent[i]) percent++;
                        }
                        percent = Math.round(percent / timeSpent.length * 100);
                        display.innerHTML = percent + "%";
                        console.log(percent)
                    }
                </script> -->
{% endblock %}
