{% extends 'base1.html' %}
{% load static %}
{% block content %}
<style>
.course-layouts{
    margin-top: 60px;
}
.vid{
        background: transparent;
    color: darkslategray;
}

.round{
        font-size: 22px;
    color: black;

    border-radius: 16px;
    font-weight: bold;
    background: seagreen;
}
#bb{
    width: 60%;
    margin-left: 20px;

}

 input:hover {background: #CFCDCC}

</style>

    <div id="wrapper">
    {% include 'partials/user_partials/_header.html' %}

            <div class="course-layouts">


                <div class="course-content bg-dark">

                    <div class="course-header">

                        <a href="#" class="btn-back" uk-toggle="target: .course-layouts; cls: course-sidebar-collapse">
                            <i class="icon-feather-chevron-left"></i>
                        </a>

                        <h4 class="text-white" > Build Responsive Websites </h4>



                    </div>

                    <div class="course-content-inner">

                        <ul id="video-slider" class="uk-switcher">


                                            <li>
                                     <div class="video-responsive">
                                         {% if t_video %}
                                         <iframe src="{{ t_video.topic_video }}" width="" height=""></iframe>
                                         {% endif %}
                                        </div>
                                </li>

                        </ul>

                    </div>

                </div>

                <!-- course sidebar -->

                <div class="course-sidebar">
                    <div class="course-sidebar-title " style="background:#3e416d;">
                        <h3 class="text-white"> <strong>Table of Contents </strong></h3>
                        {% if check == 0 %}
                        <form method=POST>
                          {% csrf_token %}
                          <button type="submit" name="add" class=" mx-4 btn btn-primary ml-3" >Add To Progress</button>
                        </form>
                        {% else %}



                        {% endif %}
                    </div>
                    <div class="course-sidebar-container" data-simplebar>

                        <ul class="course-video-list-section" uk-accordion>

                            {% if lessons %}
                                {% for curriculam in lessons %}
                             <li class="uk-open">
                                <a class="uk-accordion-title text-white" href="#" style="background:#7296db;"> {{ curriculam.lesson_name }} </a>
                                <div class="uk-accordion-content">
                                    <!-- course-video-list -->
                                    <ul class="course-video-list highlight-watched"
                                        uk-switcher=" connect: #video-slider  ; animation: uk-animation-slide-right-small, uk-animation-slide-left-medium">
                                        {% for topic in topics %}
                                            {% if topic.topic_id_id == curriculam.pk %}
                                                <form method="post">{% csrf_token %}

                                                 <li><input type="submit" name="video" class="vid my-0 py-0" value="{{ topic.topic_caption }}" style="border:0px solid #c7d3eb;width: 90%">

                                                     {% for watch in watch %}
                                                     {% if topic.pk == watch.video_id %}
                                                     <span class="round"><i class="icon-feather-check " style="color: darkgreen"></i></span>
                                                         {% else %}

                                                         {% endif %}
                                                 {% endfor %}
                                                 </li>
                                                </form>

                                            {% endif %}
                                      {% endfor %}

                                    </ul>
                                </div>
                            </li>
                                {% endfor %}
                            {% endif %}

                        {% if progress %}
                            <form method="post">{% csrf_token %}
                                <p>COMPLETED<button id="bb" type="submit" value="{{ progress }}" name="claim">Claim rewards</button></p>
                            </form>
                        {% endif %}
                        </ul>


                    </div>

                </div>

            </div>



         </div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script>
            function make_button_active(tab) {
                //Get item siblings
                var siblings = tab.siblings();

                /* Remove active class on all buttons
                siblings.each(function(){
                    $(this).removeClass('active');
                }) */

                //Add the clicked button class
                tab.addClass('watched');
            }

            //Attach events to highlight-watched
            $(document).ready(function () {

                if (localStorage) {
                    var ind = localStorage['tab']
                    make_button_active($('.highlight-watched li').eq(ind));
                }

                $(".highlight-watched li").click(function () {
                    if (localStorage) {
                        localStorage['tab'] = $(this).index();
                    }
                    make_button_active($(this));
                });

            });
        </script>


{% endblock %}
